.svn/
*.~*
*.suo
*.ncb
*.exp
*.user
*.sdf
*.log
*.obj
Bin/*.lib
Libs/*.idb
obj/
Source/MiscUtils/Certificate/nektra/
Samples/CSharp/COMHookingBasis/obj/
Samples/CSharp/Console/Aga.Controls/obj/
Samples/CSharp/Console/obj/
Samples/CSharp/FilePlugin/obj/
Samples/CSharp/PrintLogger/obj/
Samples/CSharp/RegistryPlugin/obj/
