.svn/
*.~*
*.suo
*.ncb
*.exp
*.user
*.sdf
*.log
*.obj
*.ilk
*.opendb
*.aps
*.VC.db
bin/
Libs/
obj/
extras/
ipch/
Database/DbBuilder/bin/*.exe
Database/DbBuilder/bin/*.pdb
Database/HeaderBuilder/bin/
Database/HeaderBuilder/Full/output/
Documentation/bin/*.exe
Documentation/bin/*.cgi
Source/Engine/DeviareCOM/BuildPrimaryInterop/DeviareCOM.idl
Source/Engine/DeviareCOM/BuildPrimaryInterop/DeviareCOM.tlb
Source/Engine/SpyMgr/Asm/Injector_x64.inl
Source/Engine/SpyMgr/Asm/Injector_x86.inl
Source/lib/
Source/MiscUtils/Certificate/nektra/
Source/MiscUtils/File2Inc/bin/
Source/.vs/
Samples/CSharp/COMHookingBasis/obj/
Samples/CSharp/Console/Aga.Controls/bin/
Samples/CSharp/Console/Aga.Controls/obj/
Samples/CSharp/Console/obj/
Samples/CSharp/FilePlugin/obj/
Samples/CSharp/PrintLogger/obj/
Samples/CSharp/RegistryPlugin/obj/
DeviareCOM64_i.c
DeviareCOM64_i.h
DeviareCOM64_p.c
DeviareCOM_i.c
DeviareCOM_i.h
DeviareCOM_p.c
